# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
build
.next
out
pkg
target

# Turbo
.turbo

# Environment
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test
coverage
.nyc_output

# Database
*.db
*.sqlite
prisma/migrations/

# Misc
*.tsbuildinfo
*.pem
.vercel
.netlify